* {
    box-sizing: border-box;
}

body {
    /* background-color: #f1f1f1; */
    /* background-color: #a1a1a1; */
    background-color: #d1d1d1;
    /* padding: 0 0; */
    margin: 0 0 8px 0;
}

.header {
    color: green;
    border: 5px solid black;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

h1 {
    border: 5px solid gray;
    margin: 0 auto;
}

.pond {
    margin: 0 8px;
    border: 1px solid chartreuse;
}

.subheader {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    border: 2px solid magenta;
}

h2 {
    border: 1px solid blue;
}

button {
    width: 75px;
    height: 30px;
    margin: auto 0;
}

.griddo {
    border: 2px solid khaki;

    display: grid;
    /* grid-template-rows: 100px 1fr; */

    /* grid-template-rows: 100px 1fr;
    grid-template-columns: 250px; */

    column-gap: 2rem;
    grid-template-columns: 1fr 2fr 2fr 1fr;



    /* display: flex;
    justify-content: space-around; */

    /* flex-wrap: wrap; */
}

h3 {
    border: 1px solid firebrick;
    width: 30%;
    /* display: inline; */
}

table, th, td {
    border: 1px solid black;
}

.butt {
    background-color: coral;
}

button:hover {
    background-color: blueviolet !important;
    opacity: 50%;
    transition: opacity 1s;
}
/* ah i see
originally was button :hover
which meant only a hovered element WITHIN a button!
*/

h4 {
    background-color: deeppink;
    color:brown;
}

.lincoln {
    color: #d1d1d1;
    /* visibility: hidden; */
    display: none;
}

.topbar {
    position: relative;
    /* background-color: #1f1f1f; */
    background-image: url("./inflicted.png");
    /* background-repeat: no-repeat; */
    height: 200px;
    color: white;
    /* overflow: hidden; */
    padding: 0.01px;
}

.title {
    font-size: 42px;
    /* position: relative; */
    /* left: 100px;
    top: 50px; */
    margin: 75px 0 0 40px;
}

.subtitle {
    font-size: 20px;
    margin: 25px 0 0 40px;
}

.twit {
    position: absolute;
    right: 40px;
    top: 25px;
    background-color: lightskyblue;
    padding: 5px 10px;
    border-radius: 10px;
}

.navbar {
    height: 50px;
    background-color: grey;
    opacity: 50%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
}

.bartab {
    font-size: 18px;
    height: 50px;
    /* width: 100px; */
    padding: 0 20px;
    /* margin: auto auto; */
    /* text-align: center; */
    vertical-align: middle;
    line-height: 50px;
}

.bartab:hover {
    background-color: white;
    opacity: 50%;
    transition: background-color 0.3s;
}

.temple {
    display: grid;
    column-gap: 3rem;
    padding: 20px;
}

.t1 {
    grid-template-columns: 2fr 3fr;
}
.t2 {
    grid-template-columns: 4fr 1fr;
}
.t3 {
    grid-template-columns: 2fr 1.5fr 1.5fr;
}
.t4 {
    grid-template-columns: 1fr;
}

.box {
    border: 3px solid black;
    /* margin: 0 5px; */
    height: 150px;
    font-size: 24px;
    padding: 10px;
    background-image: url("./tiny_grid.png");
}

.hundred {
    padding: 20px 0 30px 10px;
}

.inner-big {
    font-size: 36px;
}

.inner-little {
    margin: 30px 0 0px 0;
    font-size: 20px;
}

.footer {
    color: white;
    width: 100%;
    height: 200px;
    background-color: #313131;
    padding: 10px 0;
}

.credits {
    width: 90%;
    height: 70%;
    background-color: grey;
    opacity: 50%;
    margin: 0 auto;
    /* padding: 10px 0 0 10px; */
}

.signoff {
    margin: 10px 0 0 10px;
}

.big-temple {
    grid-template-columns: 1fr 3fr 2fr 2fr;
}

.row1 {
    grid-column: auto / span 2;
    margin: 0 0 10px;
}
.row2 {
    grid-column: auto / span 1;
    margin: 0 0 10px;
}
